Tech stack:
   Vue.js
   Vuex
   Vue-router
   Firebase,
   TMDB API

Техническое задание и требования к этому проекту:
   1) Страница логина - /login     
   2) Страница регистрации - /register
   3) Главная страница - /home
   4) Страница всех фильмов - /movies
         Child route (детали выбранного фильма) - /movies/:id
   5) Авторизация и регистрация через Firebase
   6) Страница мои фильмы - /my-movies
         С страницы деталей фильма могу добавлять фильмы.
         Могу также удалять фильмы с моих фильмов.
         Данные синхронизируются с firebase.         
   7) Использовать Vuex как хранилище данных.
   8) Мобильная адаптация и красивый дизайн
   9) Оптимизация Vue js приложения.
   10) Никаких багов. 
   11) Деплой на netlify, залить на github и на сайт портфолио.
   